<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>
      Smart Dog Collar UI
    </h1>
    <h2>
      Points:
    </h2>
    1
    <h2>
      Path:
    </h2>
    <canvas id="myCanvas" width="700" height="400"></canvas>
    <script>
        const canvas = document.getElementById('myCanvas');
                const context = canvas.getContext('2d');
                const x = 50;
                const y = 50;
                const radius = 5;
                
                context.beginPath();
                context.arc(x, y, radius, 0, 2 * Math.PI, false);
                context.fillStyle = 'red';
                context.fill();
                context.lineWidth = 3;
                context.strokeStyle = 'black';
                context.stroke();
                
                context.beginPath();
                context.rect(0, 0, canvas.width, canvas.height);
                context.stroke();
    </script>
  </body>
</html>      