<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
	<script>
		var pathPoints = [];
		var TOPIC_DOGSTATUS = "ncsu/iot/DogWalkingStatus";
		var TOPIC_DOGLOCATION = "ncsu/iot/DogCoordinates";
		var TOPIC_TRASHSTATUS = "ncsu/iot/TrashCanInDanger";
		var numPointsPlotting = 200;
		
		// called when the client connects
		function onConnect() {
			// Once a connection has been made, make a subscription and send a message.
			console.log("onConnect");
			client.subscribe(TOPIC_DOGSTATUS);
			client.subscribe(TOPIC_DOGLOCATION);
			client.subscribe(TOPIC_TRASHSTATUS);

			message = new Paho.MQTT.Message("WebUI_Online");
			message.destinationName = "ncsu/iot/DeviceStatus";
			client.send(message);
		}

		// called when the client loses its connection
		function onConnectionLost(responseObject) {
		  if (responseObject.errorCode !== 0) {
			console.log("onConnectionLost:"+responseObject.errorMessage);
		  }
		}

		// called when a message arrives
		function onMessageArrived(message) {
			var payload = message.payloadString;
			var topic = message.destinationName;

			if (topic == TOPIC_DOGSTATUS) {
				dogStatusArrived(payload);
			}
			else if (topic == TOPIC_DOGLOCATION) {
				pointMsgArrived(payload);
			}
			else if (topic == TOPIC_TRASHSTATUS) {
				trashStatusArrived(payload);
			}
		}
		
		function pointMsgArrived(payload) {
			if (pathPoints.length+1 > numPointsPlotting) {
				pathPoints.shift();
				clearCanvas();
				plotBackground();
			}
			pathPoints.push(payload);

			let list = document.getElementById("pointsList");
			let listItem = document.createElement("li");
			listItem.innerText = payload;
			list.appendChild(listItem);
			
			for (let i = 0; i < pathPoints.length; i++) {
				console.log("Loop " + i);
				console.log(pathPoints[i]);
				var jsonPoint = JSON.parse(pathPoints[i]);
				//if (i == 0) {
				plotPoint(jsonPoint.x,jsonPoint.y);
				//}
				//else {
				//	var prevJsonPoint = JSON.parse(pathPoints[i-1])
				//	plotPathSegment(jsonPoint.x,jsonPoint.y,prevJsonPoint.x,prevJsonPoint.y)
				//}
			}
			console.log("Plot point...");
		}
		
		function dogStatusArrived(payload){
			let statusField = document.getElementById("dogStatus");
			statusField.innerHTML = payload;
		}
		
		function trashStatusArrived(payload){
			let statusField = document.getElementById("trashStatus");
			statusField.innerHTML = payload;
		}
		
		function MQTTStart() {
			// Create a client instance
			client = new Paho.MQTT.Client("192.168.1.163", Number(9001), "webUI");

			// set callback handlers
			client.onConnectionLost = onConnectionLost;
			client.onMessageArrived = onMessageArrived;

			// connect the client
			client.connect({onSuccess:onConnect});
		}
    </script>
	<script>
		function normalizeY(val) {
			console.log(typeof val);
			var normY = (660)*((val)/(4.8));
			return normY
		}
		function normalizeX(val) {
			var normX = (350)*((val+2.3)/(3.5));
			return normX
		}
		function plotPoint(xVar,yVar){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			const x = normalizeX(Number(xVar))
			const y = normalizeY(Number(yVar))
			console.log("x is " +  x + " y is " + y);
			console.log(typeof xVar)
			const radius = 5;
			
			ctx.globalCompositeOperation='source-over';

			ctx.beginPath();
			ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
			ctx.fillStyle = 'red';
			ctx.fill();
			ctx.lineWidth = 3;
			ctx.strokeStyle = 'black';
			ctx.stroke();
		}

		function plotPathSegment(xVar,yVar,xVarOld,yVarOld){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			const x = xVar;
			const y = yVar;
			const radius = 5;
			
			ctx.globalCompositeOperation='destination-over';

			ctx.beginPath();
			ctx.moveTo(xVarOld,yVarOld);
			ctx.lineTo(xVar,yVar);
			ctx.stroke();

			plotPoint(xVar, yVar);
		}

		function plotBackground(){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			var bufferHeight = 100;

			ctx.globalCompositeOperation='destination-over';

			ctx.beginPath();
			ctx.moveTo(0,bufferHeight);
			ctx.lineTo(canvas.width,bufferHeight);
			ctx.moveTo(100,bufferHeight);
			ctx.lineTo(100,canvas.height);
			ctx.moveTo(0,(canvas.height/2)+(bufferHeight/2));
			ctx.lineTo(100,(canvas.height/2)+(bufferHeight/2));
			ctx.stroke();

			plotBeacon(100,bufferHeight);
			plotBeacon(100, c.height - 30);
			plotBeacon(c.width - 30, (c.height/2)+(bufferHeight/2)-15);

			plotTrashCan();
		}

		function plotBeacon(x,y){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			var outerWidth = 30;
			var innerBoxOffset = 5;
			var innerWidth = outerWidth - innerBoxOffset * 2;
			var xInner = x + innerBoxOffset;
			var yInner = y + innerBoxOffset;

			ctx.globalCompositeOperation='destination-over';

			ctx.beginPath();
			ctx.rect(x, y, outerWidth, outerWidth);
			ctx.rect(xInner, yInner, innerWidth, innerWidth);
			ctx.moveTo(xInner+5, yInner+7);
			ctx.lineTo(xInner+12, yInner+13);
			ctx.lineTo(xInner+8, yInner+18);
			ctx.lineTo(xInner+8,yInner+2);
			ctx.lineTo(xInner+12,yInner+7);
			ctx.lineTo(xInner+5,yInner+13);
			ctx.stroke();
		}

		function plotTrashCan(){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			var canPositionX = c.width - 50;
			var canPositionY = c.height - 50;
			var canRimX = canPositionX + 10;
			var canRimY = canPositionY + 10;

			//var img = new Image();
			//img.onload = function(){
			//	ctx.drawImage(img, canPositonX, canPositonY);
			//}
			//img.src = "/images/trashcan.jpeg";

			ctx.beginPath();
			//ctx.rect(0,0,10,10);
			ctx.ellipse(canRimX,canRimY,25,10,0,0,2*Math.PI);
			ctx.lineTo(canRimX+15,canRimY+30);
			ctx.lineTo(canRimX-15,canRimY+30);
			ctx.lineTo(canRimX-25,canRimY);
			ctx.moveTo(canRimX-5,canRimY)
			ctx.lineTo(canRimX-5,canRimY-5);
			ctx.lineTo(canRimX+5,canRimY-5);
			ctx.lineTo(canRimX+5,canRimY)
			ctx.stroke();

		}
		
		function clearCanvas(){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			ctx.clearRect(0, 0, c.width, c.height);
			
			console.log("Clearing canvas...");
			
			context.beginPath();
			context.rect(0, 0, c.width, c.height);
			context.stroke();
		}
	</script>
  </head>
  <body>
    <h1>
      Smart Dog Collar UI
    </h1>
    <h2>
	Path:
    </h2>
	<script>
		MQTTStart();
	</script>
    <canvas id="myCanvas" width="350" height="660"></canvas>
	<script>
		const canvas = document.getElementById('myCanvas');
		const context = canvas.getContext('2d');

		context.beginPath();
		context.rect(0, 0, canvas.width, canvas.height);
		context.stroke();

		plotBackground();
	</script>
	<h2>
	Status:
	</h2>
	<p id="dogStatus">Unavailable</p>
	<p id="trashStatus">Unavailable</p>
	<h2>
	Points:
	</h2>
	<ol id="pointsList"></ol>
  </body>
</html>      
