<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
	<script>
		var pathPoints = [];
		var TOPIC_DOGSTATUS = "ncsu/iot/DogWalkingStatus";
		var TOPIC_DOGLOCATION = "ncsu/iot/DogCoordinates";
		var TOPIC_TRASHSTATUS = "ncsu/iot/TrashCanInDanger";
		var numPointsPlotting = 5;
		
		// called when the client connects
		function onConnect() {
			// Once a connection has been made, make a subscription and send a message.
			console.log("onConnect");
			client.subscribe(TOPIC_DOGSTATUS);
			client.subscribe(TOPIC_DOGLOCATION);
			client.subscribe(TOPIC_TRASHSTATUS);

			message = new Paho.MQTT.Message("WebUI_Online");
			message.destinationName = "ncsu/iot/DeviceStatus";
			client.send(message);
		}

		// called when the client loses its connection
		function onConnectionLost(responseObject) {
		  if (responseObject.errorCode !== 0) {
			console.log("onConnectionLost:"+responseObject.errorMessage);
		  }
		}

		// called when a message arrives
		function onMessageArrived(message) {
			var payload = message.payloadString;
			var topic = message.destinationName;

			if (topic == TOPIC_DOGSTATUS) {
				dogStatusArrived(payload);
			}
			else if (topic == TOPIC_DOGLOCATION) {
				pointMsgArrived(payload);
			}
			else if (topic == TOPIC_TRASHSTATUS) {
				trashStatusArrived(payload);
			}
		}
		
		function pointMsgArrived(payload) {
			if (pathPoints.length+1 > numPointsPlotting) {
				pathPoints.shift();
				clearCanvas();
			}
			pathPoints.push(payload);

			let list = document.getElementById("pointsList");
			let listItem = document.createElement("li");
			listItem.innerText = payload;
			list.appendChild(listItem);
			
			for (let i = 0; i < pathPoints.length; i++) {
				console.log("Loop " + i);
				console.log(pathPoints[i]);
				var jsonPoint = JSON.parse(pathPoints[i]);
				if (i == 0) {
					plotPoint(jsonPoint.x,jsonPoint.y);
				}
				else {
					var prevJsonPoint = JSON.parse(pathPoints[i-1])
					plotPathSegment(jsonPoint.x,jsonPoint.y,prevJsonPoint.x,prevJsonPoint.y)
				}
			}

			// var jsonPoint = JSON.parse(payload)
			// if (pathPoints.length == 1) {
			// 	plotPoint(jsonPoint.x,jsonPoint.y);
			// }
			// else {
			// 	var prevJsonPoint = JSON.parse(pathPoints[pathPoints.length-2])
			// 	plotPathSegment(jsonPoint.x,jsonPoint.y,prevJsonPoint.x,prevJsonPoint.y)
			// }
			console.log("Plot point...");
		}
		
		function dogStatusArrived(payload){
			let statusField = document.getElementById("dogStatus");
			statusField.innerHTML = payload;
		}
		
		function trashStatusArrived(payload){
			let statusField = document.getElementById("trashStatus");
			statusField.innerHTML = payload;
		}
		
		function MQTTStart() {
			// Create a client instance
			client = new Paho.MQTT.Client("localhost", Number(9001), "webUI");

			// set callback handlers
			client.onConnectionLost = onConnectionLost;
			client.onMessageArrived = onMessageArrived;

			// connect the client
			client.connect({onSuccess:onConnect});
		}
    </script>
	<script>
		function plotPoint(xVar,yVar){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			const x = xVar;
			const y = yVar;
			const radius = 5;
			
			ctx.globalCompositeOperation='source-over';

			ctx.beginPath();
			ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
			ctx.fillStyle = 'red';
			ctx.fill();
			ctx.lineWidth = 3;
			ctx.strokeStyle = 'black';
			ctx.stroke();
		}

		function plotPathSegment(xVar,yVar,xVarOld,yVarOld){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			const x = xVar;
			const y = yVar;
			const radius = 5;
			
			ctx.globalCompositeOperation='destination-over';

			ctx.beginPath();
			ctx.moveTo(xVarOld,yVarOld);
			ctx.lineTo(xVar,yVar);
			ctx.stroke();

			plotPoint(xVar, yVar);
		}
		
		function clearCanvas(){
			const c = document.getElementById('myCanvas');
			const ctx = c.getContext('2d');
			ctx.clearRect(0, 0, c.width, c.height);
			
			console.log("Clearing canvas...");
			
			context.beginPath();
			context.rect(0, 0, canvas.width, canvas.height);
			context.stroke();
		}
	</script>
  </head>
  <body>
    <h1>
      Smart Dog Collar UI
    </h1>
    <h2>
	Path:
    </h2>
	<script>
		MQTTStart();
	</script>
    <canvas id="myCanvas" width="700" height="400"></canvas>
	<script>
		const canvas = document.getElementById('myCanvas');
		const context = canvas.getContext('2d');

		context.beginPath();
		context.rect(0, 0, canvas.width, canvas.height);
		context.stroke();
	</script>
	<h2>
	Points:
	</h2>
	<ol id="pointsList"></ol>
	<h2>
	Status:
	</h2>
	<p id="dogStatus">Unavailable</p>
	<p id="trashStatus">Unavailable</p>
  </body>
</html>      
